spring:
  application:
    name: inventory-service
  config:
    import: "optional:configserver:http://localhost:8888"
  cloud:
    config:
      enabled: true
      fail-fast: false
      retry:
        initial-interval: 1000
        max-interval: 2000
        max-attempts: 6

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
